<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vis_Man | Resume Maker</title>
    <link rel="icon" href="images/favicon-32x32.png" type="image">

    <link rel="stylesheet" href="template1.css">
</head>
<body >
    <table>
        <tr>
            <td class="td1">
                <img src="" alt="">
            </td>
            <td class="td2"></td>
        </tr>
    </table>
</body>
</html>