body {
    background-color: #d5d8dc;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 700px;
    height: 800px;
    align: center;
}

.td1 {
    width: 200px;
    background-color: #1c2833;
}

.td2 {
    width: 500px;
    background-color: #fdfefe;
}